doctype 5
html(lang="en")
  head
    title= KillFog
    meta(charset="utf-8")
    
    link(rel="stylesheet", href="css/main.css", type="text/css")
  body.page
    header
      #kb-header
        h1 KillFog
        p One cloud service to rule them all
      #kb-crowfunding
        #kb-progress
          input(type="test", data-readOnly="true", data-width="100", data-height="100", data-max="3000", value="216.30", data-fgColor="#ffa500")
        #kb-brackets
          h3= 40
          p= backers
        #kb-current-amount
          h3 $216,30
          p of $3.000
        #kb-time-left
          h3 100
          p days left
    section
      #kb-content
        #kb-text
          //img(class="img-polaroid", src="http://placehold.it/480x300&text=text here!");
        #kb-animation
          //img(class="img-polaroit", src="http://placehold.it/480x300&text=animations here!");
    footer
      #kb-social
        button.btn.btn-twitter
          i.icon-twitter
        button.btn.btn-facebook
          i.icon-facebook
        button.btn.btn-linkedin
          i.icon-linkedin
          
        